body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    margin-bottom: 500px;
}

.signup-container {
    width: 375px;
    height: 1294px;
    position: relative;
    top: 582px;
    left: 974px;
    border: 1px solid #000;
    padding: 20px;
}

.logo{
    width: 50px;
    padding-top: 30px;
}
h1 {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button.register-btn {
    background-color: skyblue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button.register-btn:hover {
    background-color: #3498db;
}

p {
    margin-top: 20px;
    font-size: 14px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
